

.txt-container{

           -fx-border-color: black;
            -fx-border-width: 5px;
            -fx-border-radius: 5px;
           -fx-border-style: dotted;

}
.container,.txt-container{
  -fx-background-image:url("/com/example/javaassignment2207063/Calculator_Background.jpeg");

  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
  -fx-background-position: center center;
}
.btn{
  -fx-background-color: green;
}