

.txt-container{

           -fx-border-color: black;
               -fx-border-width: 5px;
               -fx-border-radius: 5px;
               -fx-border-style: dotted;

}
.btn{
  -fx-background-color: green;
}